<div class="card">
    <div class="card-body">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6">
                    <label for="student_id" class="form-label">Numero de Control</label>
                    <input type="text" class="form-control" name="student_id" id="student_id" formControlName="student_id">
                </div>
                <div class="col-lg-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" formControlName="name">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="lastname" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" formControlName="lastname">
                </div>
                <div class="col-lg-6">
                    <label for="grade" class="form-label">Grado</label>
                    <input type="number" class="form-control" name="grade" id="grade" formControlName="grade">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="group" class="form-label">Grupo</label>
                    <input type="text" class="form-control" name="group" id="group" formControlName="group">
                </div>
                <div class="col-lg-6">
                    <label for="average" class="form-label">Promedio</label>
                    <input type="number" class="form-control" name="average" id="average" formControlName="average">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary">
                      <i class="fas" 
                      [ngClass]="{'fa-save': !isEditingMode, 'fa-edit': isEditingMode}"></i>
                      {{ isEditingMode ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
                @if (isEditingMode) {
                    <div class="col-lg-3">
                     <button type="button" class="btn btn-secondary" (click)="cancelEdit()">
                         <i class="fas fa-times"></i> Cancelar
                      </button>
                     </div>
                }
                
            </div>
        </form>
    </div>
</div>